@import "mixins.scss";

// Define variables to override spectre default ones
$primary-color: #3e71a9;
$dark-color: #2b4f76;

#toast-wrapper {
	left: 50%;
    transform: translate(-50%, 0%);
	position: fixed;
	margin:auto;
	max-width: 700px;
	width:80%;
	bottom:0;
}

@include keyframes(slide-up-and-in) {
  0%   { opacity: .4; }
  100% { opacity: 1; }
}

#toast-wrapper .toast {
	margin-top: 10px;
	@include animation('slide-up-and-in .5s 1');
}

@media print {
    .noPrint { display: none; }
}

// Import full Spectre source code
@import "./spectre/spectre-exp.scss";
@import "./spectre/spectre-icons.scss";
@import "./spectre/spectre.scss";